#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
min-height: 100vh;
margin-left: -16rem;
-webkit-transition: margin .25s ease-out;
-moz-transition: margin .25s ease-out;
-o-transition: margin .25s ease-out;
transition: margin .25s ease-out;
}

#page-content-wrapper {
min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
#sidebar-wrapper {
  margin-left: 0;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -27rem;
}
}

@font-face {
  font-family: "freesans";
  src: url(../fonts/google/Free-Sans/FreeSans.ttf);
}

.freesans {
  font-family: "freesans";
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 5px 10px;
}

.next {
  background-color: #f1f1f1;
}

.round {
  border-radius: 5px;
}

ul {
  list-style-type: none;
}

.bg-dark-side {
  background-color:#1A1C1E !important
}

.btn-dark-side {
  color: #fff;
  background-color: #1A1C1E;
}

.bg-dark-main {
  background-color: #131416 !important;
}

.input-group-text:hover {
  background-color: #131416 !important;
}

.form-control:hover {
  background-color: #131416 !important;
}

/* Highlight JS Number */
/* for block of numbers */
.hljs-ln-numbers {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
  color: gray;
  /* border-right: 0.5px solid gray; */
  vertical-align: top;
  padding-right: 5px;

  /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
  padding-left: 10px;
}